@import url(base.css);

#body {
	margin:3em auto;
	padding:0 10px;
	max-width:40em;
}

#header {
	border-bottom:1px solid #777;
	margin-bottom:1.5em;
}
.pagetitle {
	font-size:3em;
}

.wiki-actions {
	background:#C7C5C1;
	border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	margin-bottom:1.5em;
}
.wiki-actions ul,
.wiki-actions li {
	margin:0;
}
.wiki-actions,
.wiki-actions li,
.wiki-actions li a {
	display:inline-block;
}
.wiki-actions li {
	border-left:1px solid #e9e5e1;
}
.wiki-actions li:first-child {
	border-left:0;
}
.wiki-actions li a {
	border:0;
	padding:.5em 1em;
}

#aside {
	background:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	margin-bottom:1.5em;
	padding:1.5em;
}
#navigation .sidehead {
	font-size:16px;
	margin:0 0 .5em 0;
}
#navigation ul {
	margin:0 0 .5em 0;
}
#navigation ul li {
	display:inline;
}
#navigation ul li:after {
	content:" / ";
}
#navigation ul li:last-child:after {
	content:"";
}